footer{
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

footer p{
  width: 100%;
  text-align: center;
}

@media (max-width: 500px){
  footer{font-size: .8rem;}
}
